html {
    background-color: #F8F7F5;
}

h1 {
    font-family: "Open Sans";
    color: #282828;
}

#headline {
    margin: 0px;
    padding-top: 5%;
}

h2, h3 {
    font-family: "Ubuntu",'Sans-serif', serif;
    font-size: 24px;
}

h3 {
    margin-top: 5%;
}

p, li {
    font-family: "Open Sans";
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.doc-container {
    padding: 3% 5% 5% 5%;
    background-color: #FFFFFF;
    width: 50%;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
}

.doc-container h2 {
    font-size: 32px;
}
.slider-alignment {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.slider-container {
    background-color: #ECEEF1;
    width: 329px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    margin-top: 50px;
}

.slider {
    width: 159px;
    height: 27px;
    border-radius: 8px;
    border: none;
    background-color: #ECEEF1;
    cursor: pointer;
}



#info {
    background-color: #ECEEF1;
}

.logo-container {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.logo-container img {
    width: 12rem;
}




.doc-container1 {
    width: 50%;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 10px #0505053f;
}


.feedback-alignment {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}

.feedback-text{
    background-color: #FFFFFF;
}

.feedback-text h2{
    background-color: #FFFFFF;
    font-size: 2rem;
    margin: 0px;
}

.feedback-text p{
    font-size: 1rem;
    background-color: #FFFFFF;
}

.feedback-text i{
    font-family: "Open Sans";
    font-size: 1rem;
    background-color: #FFFFFF;
}

.form-alignment {
    margin-top: 7%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-inputs {
    width: 80%;
    background-color: #FFFFFF;
}

.form-inputs h3 {  
    background-color: #FFFFFF;
    font-size: 1rem;
    margin: 0px;
    margin-top: 15px;
}

.form-input {
    border: 1px solid #8a8a8a85;
    background-color: #FFFFFF;
    width: 99%;
    height: 20px;
}

#message {
    resize: none;
    border: 1px solid #8a8a8a85;
    background-color: #FFFFFF;
    width: 99%;
    height: 100px;
    font-size: 0.8rem;
}

.submit-align {
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#submit {
    margin-top: 10px;
    border: none;
    background-color: #0060A1;
    color: #FFFFFF;
    border-radius: 6px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    font-family: "Ubuntu";

}

footer {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

footer img{
    background-color: #FFFFFF;
    width: 12rem;
}

#feed-container {
    display: none;
}

#feedback {
    background-color: #FFFFFF;
}

@media only screen and (max-width: 1000px) {
    .doc-container1 {
        width: 95%;
    }

    .form-inputs {
        width: 90%;
    }

    footer img {
        width: 30%;
    }
}
@media only screen and (max-width: 700px) {
    h1 {
        color: #282828;
        font-size: 16px;
    }
    
    h2, h3 {
        font-size: 20px;
    }
    
    h3 {
        margin-top: 10%;
    }
    
    p, li {
        font-size: 14px;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 7%;
    }
    
    .doc-container {
        margin-left: 8%;
        margin-right: 8%;
        background-color: #FFFFFF;
        width: 85%;
    }
    
    .doc-container h2 {
        font-size: 24px;
    }
    .slider-alignment {
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;

    }
    
    .slider-container {
        background-color: #ECEEF1;
        width: 329px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        margin-top: 50px;
    }
    
    .slider {
        width: 159px;
        height: 27px;
        border-radius: 8px;
        border: none;
        background-color: #ECEEF1;
        cursor: pointer;
    }
    
    #feedback {
        background-color: #FFFFFF;
    }
    
    .logo-container {
        margin-top: 5%;
        display: flex;
        justify-content: center;
    }
    
    .logo-container img {
        margin-top: 7%;
        margin-bottom: 7%;
        width: 7rem;
    }
  }